.alt-header {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  box-sizing: border-box;
  top: 35px;
}

.alt-header h1 {
  font-size: 25px;
}

.alt-header__column {
  width: 33%;
  margin: 10px 20px;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child i {
  margin-left: 25px;
}
