.alt-header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__column {
  width: 33%;
  display: flex;
  justify-content: center;
}

.alt-header__column:first-child {
  justify-content: flex-start;
}

.alt-header__column:last-child {
  justify-content: flex-end;
}

.alt-header__column:last-child i {
  margin-left: 20px;
}

.alt-header h1 {
  font-size: 24px;
}
