.badge__lg {
  bottom: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  border: 0px solid tomato;
  border-radius: 50%;
  background-color: tomato;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge__sm {
  bottom: 20px;
  left: 20px;
  width: 5px;
  height: 5px;
  border: 0px solid tomato;
  border-radius: 50%;
  background-color: tomato;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
