.nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px var(--horizontal-size);
  box-sizing: border-box;
  border-top: 1px solid var(--border-gray);
  background-color: white;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
}

.nav__ul i {
  color: var(--text-gray);
}

.nav__friends {
  position: relative;
}

.nav__chats {
  position: relative;
}
.nav__find {
  position: relative;
}

.nav__more {
  position: relative;
}

.nav__on-screen i {
  color: var(--darkblue);
}

.nav__notification-lg {
  position: absolute;
  bottom: 8px;
  left: 13px;
}

.nav__notification-sm {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
