.status-bar {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.status-bar__row {
  width: 33%;
  margin-top: 10px;
  font-size: 0.8em;
}

.status-bar__row:first-child {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.status-bar__row:first-child span {
  margin-right: 5px;
}

.status-bar__row:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar__row:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.status-bar__row:last-child i {
  margin-left: 5px;
}

.status-bar__row:last-child span {
  margin-left: 5px;
}
