.status-bar {
  width: 100vw;
  display: flex;
  align-items: center;
}

.status-bar__row {
  width: 33%;
  margin: 10px;
}

.status-bar__row:first-child span {
  margin-right: 5px;
}

.status-bar__row:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__row:last-child {
  display: flex;
  justify-content: flex-end;
}

.status-bar__row:last-child i {
  margin-left: 5px;
}

.status-bar__row:last-child span {
  margin-left: 5px;
}
