.status-bar {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  box-sizing: border-box;
}

.status-bar__column:first-child {
  width: 10%;
}
.status-bar__column:nth-child(2) {
  width: 70%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkblue);
  font-weight: 600;
  font-size: 20px;
}
.status-bar__column:last-child {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}
