.find__ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid var(--border-gray);
}

.find__link {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.find__link i {
  margin-bottom: 30px;
}

.find__link span {
  font-weight: 300;
}
.find__section-header {
  color: var(--text-gray);
}
.find__recommended-friends {
  border-bottom: 1px solid var(--border-gray);
}

.find__recommended-friends__column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find__recommended-friends__column span {
  align-items: center;
  color: var(--text-gray);
  margin: 110px 80px;
  font-size: 1.2em;
  text-align: center;
}

.find__open-chat__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
  font-size: 1em;
}

.find__open-chat__title div:last-child {
  display: flex;
  align-items: center;
}

.find__open-chat__title span {
  font-size: 0.8em;
}

.find__open-chat__title i {
  margin-left: 5px;
}

.find__open-chat__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
}

.find__open-chat__column__description {
  display: flex;
  flex-direction: column;
}

.find__open-chat__column__description h3:first-child {
  font-size: 1em;
  margin-bottom: 10px;
}
.find__open-chat__column__description h3:nth-child(2) {
  font-size: 1em;
  color: var(--text-gray);
  margin-bottom: 10px;
}

.find__open-chat__members {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.7em;
}

.find__open-chat__members img {
  width: 1.2em;
  height: 1.2em;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.find__open-chat__members-count {
  color: var(--text-gray);
}

.find__open-chat__members-status {
  color: rgb(255, 100, 245);
}

.find__open-chat__members .divider {
  width: 1px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--text-gray);
}

.find__open-chat__column__cover {
  position: relative;
  margin: 10px 0px;
}

.find__open-chat__column__cover img {
  width: 6em;
  height: 6em;
  border-radius: 1em;
}

.find__open-chat__column__cover span {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  font-size: 1em;
  font-weight: 300;
  border-radius: 1em;
  padding: 0.3em 0.5em;
  position: absolute;
  top: 4em;
  right: 0.2em;
}
