.header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.header__title {
  font-size: 30px;
  font-weight: 600;
}

.header__tool i {
  margin-left: 20px;
}

.notice {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
  height: 50px;
}

.notice i {
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.2);
}

.friends-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.friends-section__title {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: gray;
  margin-bottom: 10px;
}

.friends-section__title h5 {
  font-weight: 300;
}
